@define-color background #282828;
@define-color surface #32302F;
@define-color text #D4BE98;
@define-color purple #d3869b;
@define-color orange #E78A4E;
@define-color blue #7DAEA3;
@define-color red #EA6962;
@define-color green #A9B665;
@define-color fg0 #D4BE98;
@define-color fg1 #DDC7A1;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family:JetBrainsMono Nerd Font;
    font-size: 14px;
}

#custom-openbracket,
#custom-closebracket {
  margin: 0 5px;
}

window#waybar {
  background-color: transparent;
  border-bottom: 0;
  color: @text;
  transition: background-color 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}

.modules-left {
  margin: 10px 0 0 10px;
  padding: 0 0 0 7px;
  background-color: @background;
  border: 2px solid @orange;
}

.modules-center {
  margin: 10px 0 0 0;
  padding: 0 10px 0 10px;
  background-color: @background;
  border: 2px solid @orange;
}

.modules-right {
  margin: 10px 10px 0 0;
  padding: 0 10px 0 10px;
  background-color: @background;
  border: 2px solid @orange;
}


button {
    border: none;
    border-radius: 0;
}


#tags button {
    min-width: 0;
    padding: 0 8px 0 8px;
    background-color: transparent;
    color: @fg0;
    border-radius: 0;
    border-bottom: 3px solid transparent;
}




#tags button.occupied {
    color: @blue;
}

#tags button.focused {
    color: @purple;
    background-color: transparent;
    box-shadow: @purple;
    border-bottom: 3px solid;
}

#tags button:hover {
    color: @background;
    background: @fg1;
    box-shadow: inherit;
    text-shadow: inherit;
}

#tags button.urgent {
    background-color: @red;
}



#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network {
  padding: 0 10px;
}
#wireplumber:hover {
    color: @green;
}

#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 5px;
}

#clock {
    background-color:transparent;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}


#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: transparent;
}

#memory {
    background-color: transparent;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: transparent;
}

#network.disconnected {
    background-color: @transparent;
}

#wireplumber {
    background-color: @background;
    color: @green;
}

#wireplumber.muted {
    background-color: @trasparat;
    color: @red;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
