@define-color background #282828;
@define-color surface #32302F;
@define-color text #D4BE98;
@define-color purple #d3869b;
@define-color orange #E78A4E;
@define-color blue #7DAEA3;
@define-color red #EA6962;
@define-color green #A9B665;
@define-color fg0 #D4BE98;
@define-color fg1 #DDC7A1;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family:JetBrainsMono Nerd Font;
    font-size: 14px;
}

#custom-openbracket,
#custom-closebracket {
  margin: 0 5px;
}

window#waybar {
  background-color: transparent;
  border-bottom: 0;
  color: #D4BE98;
  transition: background-color 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}

.modules-left {
  margin: 10px 0 0 10px;
  padding: 0 0 0 7px;
  background-color: #282828;
  border: 2px solid #E78A4E;
}

.modules-center {
  margin: 10px 0 0 0;
  padding: 0 10px 0 10px;
  background-color: #282828;
  border: 2px solid #E78A4E;
}

.modules-right {
  margin: 10px 10px 0 0;
  padding: 0 10px 0 10px;
  background-color: #282828;
  border: 2px solid #E78A4E;
}

button {
    border: none;
    border-radius: 0;
}

#tags button {
    min-width: 0;
    padding: 0 8px 0 8px;
    background-color: transparent;
    color: #D4BE98;
    border-radius: 0;
    border-bottom: 3px solid transparent;
}

#tags button.occupied {
    color: #7DAEA3;
}

#tags button.focused {
    color: #d3869b;
    background-color: transparent;
    box-shadow: #d3869b;
    border-bottom: 3px solid;
}

#tags button:hover {
    color: #282828;
    background: #D4BE98;
    box-shadow: inherit;
    text-shadow: inherit;
}

#tags button.urgent {
    background-color: #EA6962;
}

#clock,
#cpu,
#memory,
#network {
  padding: 0 10px;
}
#wireplumber:hover {
    color: #A9B665;
}

#tray,
#window,
#tags {
    margin: 0 5px;
}

#clock {
    background-color:transparent;
}

@keyframes blink {
  from {
    background-color: transparent;
    color: inherit;
  }
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: transparent;
}

#memory {
    background-color: transparent;
}

#network {
    background-color: transparent;
}

#network.disconnected {
    background-color: transparent;
}

#wireplumber {
    background-color: #282828;
    color: #A9B665;
}

#wireplumber.muted {
    background-color: transparent;
    color: #EA6962;
}

#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}



