themes {
  noctalia {
    fg "#f2f3f2"
    bg "#1e211c"
    black "#282c25"
    red "#fd4663"
    green "#99e467"
    yellow "#5cd668"
    blue "#66cca3"
    magenta "#b6ec93"
    cyan "#96e99e"
    white "#f2f3f2"
    orange "#fd8446"
  }
}
