themes {
  noctalia {
    fg "#f3f2f2"
    bg "#291e14"
    black "#37281b"
    red "#b47a47"
    green "#e4a467"
    yellow "#5c90d6"
    blue "#9bd85a"
    magenta "#ecbe93"
    cyan "#96b9e9"
    white "#f3f2f2"
    orange "#b4b147"
  }
}
