themes {
  noctalia {
    fg "#f2f2f3"
    bg "#071536"
    black "#0a1c48"
    red "#fd4663"
    green "#6289e9"
    yellow "#8166ff"
    blue "#b94de6"
    magenta "#8fabef"
    cyan "#a38fef"
    white "#f2f2f3"
    orange "#fd8446"
  }
}
